extends layout

block content

  h3 #{genres}

  form(action=`/catalog/movie/${movie.id}`, method='POST')
    p
      | Title: 
      input(type='text', name='title', value=movie.title)
      br
      | Year: 
      input(type='number', name='year', min=1900, max=2025, value=movie.year)
      br
      | Summary: 
      input(type='text', name='summary', value=movie.summary)
      br
      | Image url: 
      input(type='text', name='imageurl', value=movie.imageUrl)
      br
      select(name="genres")
          each genre in genres
              option(value=genre.id selected=(movie.genre._id == genre.id) ) #{genre.name}

    input(type='submit', value='Submit')


  h1 #{title}: 
  img(src=movie.imageUrl class='movie-pic')

  p #[strong Summary:] #{movie.summary}
  p #[strong Year:] #{movie.year}
  p #[strong Genre:] #{movie.genre.name}

  div(style='margin-left:20px;margin-top:20px')
    hr
    p
      a(href=movie.url+'/delete' class='active-hyperlink') Delete Movie
    p
      a(href=movie.url+'/update' class='active-hyperlink') Update Movie
    p
      a(href='/catalog/movies' class='active-hyperlink') See All Movies