extends layout

block content
  h1 #{title}
  img(src=movie.imageUrl class='movie-pic')

  p #[strong Summary:] #{movie.summary}
  p #[strong Year:] #{movie.year}
  p #[strong Genre:] #{movie.genre.name}

  div(style='margin-left:20px;margin-top:20px')
    hr
    p
      a(href=movie.url+'/delete' class='active-hyperlink') Delete Movie
    p
      a(href=movie.url+'/update' class='active-hyperlink') Update Movie
    p
      a(href='/catalog/movies' class='active-hyperlink') See All Movies
    p  
      a(href='/catalog/movie/create' class='active-hyperlink') Add a movie

      