extends layout

block content
  h1 #{title}: #{movie.name}

  p Do you really want to delete this Movie?
  img(src=movie.imageUrl class='movie-pic')

  p #[strong Summary:] #{movie.summary}
  p #[strong Year:] #{movie.year}
  p #[strong Genre:] #{movie.genre.name}

  form(method='POST' action='')
    div.form-group
      input#movieid.form-control(type='hidden',name='movieid', required='true', value=movie._id )

    button.btn.btn-primary(type='submit') Delete 
    a(href=("/catalog/movie/"+movie.id) class='active-hyperlink') Cancel